.container1 {
  .container-image {
    width: 100%;
    min-height: 55.6rem;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-image: url("../../../public/img/bannerAbout.png");
  }

  .container-background-content {
    background-image: url("https://i.pinimg.com/originals/2c/84/5a/2c845a66b8ad2a8aafd288bdc16cd459.jpg");

    .container-content {
      display: flex;
      width: 100%;

      background-color: rgba($color: #ffffff, $alpha: 0.5);

      .content-left {
        width: 60%;
        text-align: left;
        padding: 0 4rem 3rem 3rem;


        .title {
          margin: 3rem 0;

          h1 {
            font-size: 3rem;
            font-weight: bolder;
            line-height: 1.6;
            color: #ffe000;
          }
        }

        .box {
          .box-content-img {
            background-color: #eb288c;
            border-radius: 3.7rem;
            margin-bottom: 2rem;

            .image {
              padding: 2rem 2rem 1rem 2rem;

              img {
                width: 100%;
                height: 100%;
                border-radius: 2rem;
              }
            }

            .content {
              padding: 0 2rem 3rem 2rem;

              p {
                font: 1.6rem Roboto, sans-serif;
                text-align: justify;
                line-height: 1.6;
                color: white;
                font-weight: 500;
              }
            }
          }

          .box-content {
            background-color: #eb288c;
            border-radius: 3.7rem;
            margin-bottom: 2rem;

            .content {
              padding: 2rem 2rem 3rem 2rem;

              p {
                font: 16px Roboto, sans-serif;
                text-align: justify;
                line-height: 1.6;
                color: white;
                font-weight: 500;
              }
            }
          }
        }
      }

      .image-right {
        width: 40%;

        .image-box {
          padding: 40rem rem rem;
          margin-left: 2rem;
          margin-top: 10rem;

          img {
            padding: 0 3.5rem 3rem;
          }
        }
      }
    }
  }

  .container-background-founder {
    background-image: url("https://videohive.img.customer.envatousercontent.com/files/94dab389-6f56-4894-b4bb-d252f1da8c09/inline_image_preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=a335ddd95535583d0b26b5bf366002d8");
    background-repeat: no-repeat;
    background-size: cover;

    .box-founder {
      display: flex;
      width: 100%;

      .founder-left {
        width: 55%;
        margin: 2rem;

        img {
          border-bottom-left-radius: 10rem;
          border-top-right-radius: 10rem;
        }
      }

      .info-founder {
        width: 45%;
        text-align: left;

        .text-info {
          padding: 0 3rem 3rem;
          margin: 3rem 0 3rem;
          text-align: right;

          h2 {
            text-transform: uppercase;
            font-family: Roboto, sans-serif;
            font-size: 5rem;
            letter-spacing: 0.05em;
            margin: 0 0 13px;
            color: #ffe000;
          }

          h3 {
            font-family: Roboto, sans-serif;
            font-size: 4rem;
            font-weight: bold;
            letter-spacing: 0.05em;
            margin: 0 0 1rem;
            color: white;
          }

          p {
            font-family: Roboto, sans-serif;
            font-size: 1.8rem;
            font-weight: 500;
            margin: 0 0 2.1rem;
            color: white;
            line-height: 1.6;
            padding-left: 3rem;
          }
        }
      }
    }
  }
}