.container1 {
  .container-image {
    width: 100%;
    height: 400px;
    // padding: 5rem;
    // display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://i.pinimg.com/originals/2c/84/5a/2c845a66b8ad2a8aafd288bdc16cd459.jpg");
  }

  .container-content {
    display: flex;
    width: 100%;
    background-color: aqua;

    .content-left {
      width: 60%;
      padding: 0 35px 30px;
      margin-left: 100px;
      text-align: left;
      background-color: purple;

      .title {
        margin: 30px 0;
        h1 {
          font-size: 3rem;
          font-weight: bolder;
          line-height: 1.6;
        }
      }

      .box {
        .box-content-img {
          background-color: #eb288c;
          border-radius: 37px;
          margin-bottom: 10%;
          .image {
            padding: 20px 20px 0 20px;

            img {
              width: 100%;
              height: 200px;
            }
          }

          .content {
            padding: 0 20px 35px 20px;

            p {
              font: 16px Roboto, sans-serif;
              line-height: 1.6;
              color: white;
              font-weight: 500;
            }
          }
        }

        .box-content {
          background-color: #eb288c;
          border-radius: 37px;

          .content {
            padding: 0 20px 35px 20px;

            p {
              font: 16px Roboto, sans-serif;
              line-height: 1.6;
              color: white;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
