.container1 {
  .container-image {
    width: 100%;
    height: 400px;
    // padding: 5rem;
    // display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://i.pinimg.com/originals/2c/84/5a/2c845a66b8ad2a8aafd288bdc16cd459.jpg");
  }

  .container-content {
    display: flex;
    width: 100%;

    .content-left {
      width: 60%;
      padding: 0 30px 30px;

      .title {
        text-align: left;
        margin: 0 30px;
        h1 {
          font-size: 3rem;
          font-weight: bolder;
        }
      }
    }
  }
}
