.container1 {
  .container-image {
    width: 100%;
    height: 400px;
    // padding: 5rem;
    // display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://i.pinimg.com/originals/2c/84/5a/2c845a66b8ad2a8aafd288bdc16cd459.jpg");
  }
  .container-background-content {
    background-image: url("https://i.pinimg.com/originals/2c/84/5a/2c845a66b8ad2a8aafd288bdc16cd459.jpg");

    .container-content {
      display: flex;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.85);

      .content-left {
        width: 60%;
        padding: 0 35px 30px;
        margin-left: 100px;
        text-align: left;

        .title {
          margin: 30px 0;
          h1 {
            font-size: 3rem;
            font-weight: bolder;
            line-height: 1.6;
          }
        }

        .box {
          .box-content-img {
            background-color: #eb288c;
            border-radius: 37px;
            margin-bottom: 30px;
            .image {
              padding: 20px 20px 0 20px;

              img {
                width: 100%;
                height: 200px;
              }
            }

            .content {
              padding: 0 20px 30px 20px;

              p {
                font: 16px Roboto, sans-serif;
                text-align: justify;
                line-height: 1.6;
                color: white;
                font-weight: 500;
              }
            }
          }

          .box-content {
            background-color: #eb288c;
            border-radius: 37px;
            margin-bottom: 30px;

            .content {
              padding: 20px 20px 30px 20px;

              p {
                font: 16px Roboto, sans-serif;
                text-align: justify;
                line-height: 1.6;
                color: white;
                font-weight: 500;
              }
            }
          }
        }
      }

      .image-right {
        width: 40%;
        .image-box {
          padding: 400px 0px 0px;
          img {
            padding: 0 100px 30px 30px;
          }
        }
      }
    }
  }
  .container-background-founder {
    background-image: url("https://i.pinimg.com/originals/2c/84/5a/2c845a66b8ad2a8aafd288bdc16cd459.jpg");

    .box-founder {
      display: flex;
      width: 100%;

      .founder-left {
        width: 55%;
      }

      .info-founder {
        width: 45%;
        text-align: left;
        .text-info {
          padding: 0 30px 30px;
          margin: 30px 0 30px;

          h2 {
            text-transform: uppercase;
            font-family: Roboto, sans-serif;
            font-size: 40px;
            letter-spacing: 0.05em;
            margin: 0 0 13px;
            color: #be8c28;
          }
          h3 {
            font-family: Roboto, sans-serif;
            font-size: 30px;
            font-weight: bold;
            letter-spacing: 0.05em;
            margin: 0 0 10px;
            color: white;
          }
          p {
            font-family: Roboto, sans-serif;
            font-size: 16px;
            margin: 0 0 21px;
            color: white;
            line-height: 1.6;
            padding-right: 120px;
          }
        }
      }
    }
  }

  .container-bg-future-orientation {
    background-image: url("https://i.pinimg.com/originals/2c/84/5a/2c845a66b8ad2a8aafd288bdc16cd459.jpg");

    .container-future-orientation {
      display: flex;
      width: 100%;
      //margin-top: 30px;

      .future-orientation-left {
        width: 41.6666666667%;
      }

      .future-orientation-right {
        width: 59.3333333333%;
        padding: 30px 30px 30px;
        text-align: left;

        .content {
          p {
            font: 16px Roboto, sans-serif;
            text-align: justify;
            line-height: 1.6;
            font-weight: 500;
          }
        }

        .box-3-image {
          display: flex;
          width: 100%;
          justify-content: space-between;

          .box-image {
            box-shadow: 0 0 10px midnightblue;
          }

          .box-image:hover {
            box-shadow: none;
          }
        }
      }
    }
  }
  .container-bg-reason {
    background-color: aqua;
    padding-top: 70px;

    .reason-title {
      h2 {
        margin: 0 0 12px;
        color: #be8e0c;
        font-family: "Roboto", sans-serif;
        font-size: 25px;
        font-weight: bold;
        line-height: 1.3;
      }
    }
    .box-reason {
      display: flex;
      padding: 0 150px;
      justify-content: center;

      .reason {
        background-color: white;
        border-radius: 20px;
        margin: 15px;

        .reason-image {
          margin: 20px 0;
          img {
            border-radius: 999px !important;
            object-fit: cover;
          }
        }
        .reason-content {
          text-align: left;
          padding: 0 15px 15px;
          h3 {
            font-family: "Roboto", sans-serif;
            font-weight: bold;
          }
          p {
            font-family: "Roboto", sans-serif;
            font-size: 16px;
          }
        }
      }
    }
  }
}
