.container
{
    position: relative;

    .container-image{
        position: absolute; 
        width: 100%;
        height: 400px;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }
}