.background-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 52;
}

.modalBook {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 480px;
  transform: translate(-50%, -50%);
  background-color: rgba(243, 217, 239, 0.9);
  border-radius: 10px;
  color: black;
  z-index: 53;
  font-weight: 500;
  line-height: 1.6;

  .container {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 15px 15px 25px;

    .close {
      cursor: pointer;
      font-size: 25px;
      position: absolute;
      top: 0;
      right: 20px;
      display: inline-block;
    }

    .logo img {
      padding: 10px;
      border-radius: 10px;
    }

    .title {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .option {
      display: flex;
      width: 100%;

      .option-item {
        width: 50%;

        .item {
          margin: 0 5px;

          input {
            width: 100%;
            height: 40px;
            margin: 0 0 16px;
            padding: 0 12px;
            font-size: 16px;
            border: 1px solid #ddd;
            border-radius: 8px;

            box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
          }

          input:focus {
            outline: none !important;
            border: 1px solid #ddd;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          }

          input:hover {
            box-shadow: none;
          }

          select {
            width: 100%;
            height: 40px;
            margin: 0 0 16px;
            padding: 0 12px;
            font-size: 16px;
            border: 1px solid #ddd;
            border-radius: 8px;

            box-shadow: inset 0 -1.4em 1em 0 rgba(0, 0, 0, 0.05);
          }

          select:hover {
            box-shadow: none;
          }
        }

        .item-2 {
          display: flex;

          .item {
            width: 100%;
          }
        }
      }
    }

    .note {
      margin: 0 5px;

      textarea {
        width: 100%;
        height: 107px;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 16px;
        margin: 0 0 16px;
        padding: 0 12px;
        padding-top: 11px;

        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
      }

      textarea:focus-within {
        outline: none !important;
        border: 1px solid #ddd;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
      }

      textarea:hover {
        box-shadow: none;
      }
    }

    .send {
      text-align: center;

      input {
        background-color: #dc3f5d;
        width: 240px;
        height: 40px;
        border: 1px solid #cac9c9;
        border-radius: 20px;
        padding: 0 19px;
        margin: 0 16px 16px 0;
        font-size: 16px;
        color: white;

        box-shadow: inset 0 0 1px rgba(37, 34, 225, 0.6);
      }
    }
  }
}
