.background-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 52;
}

.modalBook {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 480px;
  transform: translate(-50%, -50%);
  background-color: rgba(243, 217, 239, 0.9);
  border-radius: 10px;
  color: black;
  z-index: 53;
  font-weight: 500;
  line-height: 1.6;

  .container {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 15px 15px 25px;

    .close {
      cursor: pointer;
      font-size: 25px;
      position: absolute;
      top: 0;
      right: 20px;
      display: inline-block;
    }

    .logo{
      padding: 10px;
    }

    .title{
      font-size: 18px;
    }
  }
}
