.bookOnline {
    background-image: url('https://cdn.diemnhangroup.com/seoulspa/hlQKFOz8-group-4062.jpg');
    width: 100%;
    height: 48rem;
    margin: 6rem 0;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .book {
        background-color: #eb288c;
        padding: 1rem;
        border-radius: 1rem;
        max-width: 40rem;

        .bookContent {
            border: solid 1px #ddd;
            border-radius: 1rem;
            padding: 2rem 2rem 3.6rem;

            h2 {
                margin-top: 2rem;
                color: #fff;
            }

            h4 {
                margin: 1rem 0;
                color: #fff;
                font-weight: 400;
            }

            .Btn {
                display: flex;
                justify-content: center;
                background-color: #fff;
                color: #eb288c;
                padding: .8rem;
                max-width: 26rem;
                margin: 0.4rem auto;
                border-radius: 2rem;
                text-align: center;
                cursor: pointer;

                .Icon {
                    width: 2rem;
                    height: 2rem;
                    margin-right: 1rem;
                    margin: auto 1rem;
                }

                h3 {
                    margin: auto 0;
                    font-weight: 400;
                }
            }

        }

    }

    img {}
}