.container-calendar {
  .container-bg-calendar {
    .calendar {
      display: flex;
      width: 100%;
      text-align: left;
      padding: 5rem;
      font-family: "Roboto", sans-serif;

      .calendar-content {
        width: 30%;

        h3 {
          margin: 0 0 13px;
          color: #004999;
          font-size: 26px;
          font-weight: bold;
        }
      }

      .calendar-boxs {
        width: 70%;
      }
    }
  }
}
