.container-calendar {
  .container-bg-calendar {
    .calendar {
      display: flex;
      width: 100%;
      text-align: left;
      padding: 4rem;
      font-family: "Roboto", sans-serif;

      .calendar-content {
        width: 30%;
        border: solid 2px #fd80c1;
        // border-bottom-left-radius: 20px;
        // border-top-left-radius: 20px;
        // border-top-right-radius: 20px;
        border-radius: 20px;
        padding: 2rem 4rem 0;
        margin-right: 4rem;
        h3 {
          margin: 0 0 13px;
          color: #fd80c1;
          font-size: 26px;
          font-weight: bold;
          line-height: 1.6;
        }

        h3:after {
          content: "";
          display: block;
          width: 5rem;
          height: 0.25rem;
          background: #fd80c1;
        }

        #special {
          color: #fd80c1;
          font-size: 16px;
          line-height: 1.6;
          margin-bottom: 0;
        }

        p {
          margin: 0 0 21px;
          color: #fd80c1;
          font-size: 16px;
          line-height: 1.6;
        }
      }

      .calendar-boxs-day {
        width: 70%;
        border: solid 2px #fd80c1;
        border-radius: 20px;
        padding: 3rem 0 2rem 5rem;

        .calendar-boxs {
          display: flex;
          width: 100%;
          flex-wrap: wrap;

          .calendar-box {
            margin: 0 1rem 1rem 0;
            width: 18%;
            height: 15rem;
            // border: solid 2px #fd80c1;
            // border-bottom-right-radius: 2rem;

            // margin: 10px;
            // width: 300px;
            // height: 200px;
            background-color: #eee;
            border-radius: 20px;
            position: relative;

            p {
              font: 40px "Roboto", sans-serif;
              font-weight: 600;
              opacity: 0.5;
              padding-left: 1.3rem;
              margin-bottom: 0;
            }
          }
          .box1 {
            background-color: rgb(243, 163, 15);

            .times {
              font: 30px "Roboto", sans-serif;
              font-weight: 600;
              opacity: 0.5;
              padding-left: 1.3rem;
              margin-bottom: 0;
            }
          }
          .box1:before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            border-top: 4rem solid rgb(221, 148, 13);
            border-right: 4rem solid transparent;
            border-left: 0 solid transparent;
            border-top-left-radius: 20px;
          }
          .box1:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            border-bottom: 4rem solid white;
            border-left: 4rem solid transparent;
          }

          .box2 {
            background-color: rgb(95, 231, 120);

            .times {
              font: 30px "Roboto", sans-serif;
              font-weight: 600;
              opacity: 0.5;
              padding-left: 1.3rem;
              margin-bottom: 0;
            }
          }
          .box2:before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            border-top: 4rem solid rgb(82, 198, 103);
            border-right: 4rem solid transparent;
            border-left: 0 solid transparent;
            border-top-left-radius: 20px;
          }
          .box2:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            border-bottom: 4rem solid white;
            border-left: 4rem solid transparent;
          }

          .box3 {
            background-color: rgb(240, 100, 49);

            .times {
              font: 30px "Roboto", sans-serif;
              font-weight: 600;
              opacity: 0.5;
              padding-left: 1.3rem;
              margin-bottom: 0;
            }
          }
          .box3:before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            border-top: 4rem solid rgb(212, 86, 40);
            border-right: 4rem solid transparent;
            border-left: 0 solid transparent;
            border-top-left-radius: 20px;
          }
          .box3:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            border-bottom: 4rem solid white;
            border-left: 4rem solid transparent;
          }

          .box4 {
            background-color: rgb(24, 225, 148);

            .times {
              font: 30px "Roboto", sans-serif;
              font-weight: 600;
              opacity: 0.5;
              padding-left: 1.3rem;
              margin-bottom: 0;
            }
          }
          .box4:before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            border-top: 4rem solid rgb(21, 199, 131);
            border-right: 4rem solid transparent;
            border-left: 0 solid transparent;
            border-top-left-radius: 20px;
          }
          .box4:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            border-bottom: 4rem solid white;
            border-left: 4rem solid transparent;
          }

          .box5 {
            background-color: aqua;

            .times {
              font: 30px "Roboto", sans-serif;
              font-weight: 600;
              opacity: 0.5;
              padding-left: 1.3rem;
              margin-bottom: 0;
            }
          }
          .box5:before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            border-top: 4rem solid rgb(0, 213, 213);
            border-right: 4rem solid transparent;
            border-left: 0 solid transparent;
            border-top-left-radius: 20px;
          }
          .box5:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            border-bottom: 4rem solid white;
            border-left: 4rem solid transparent;
          }

          .box6 {
            background-color: yellow;

            .times {
              font: 30px "Roboto", sans-serif;
              font-weight: 600;
              opacity: 0.5;
              padding-left: 1.3rem;
              margin-bottom: 0;
            }
          }
          .box6:before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            border-top: 4rem solid rgb(227, 227, 1);
            border-right: 4rem solid transparent;
            border-left: 0 solid transparent;
            border-top-left-radius: 20px;
          }
          .box6:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            border-bottom: 4rem solid white;
            border-left: 4rem solid transparent;
          }

          .box7 {
            background-color: #fd80c1;

            .times {
              font: 30px "Roboto", sans-serif;
              font-weight: 600;
              opacity: 0.5;
              padding-left: 1.3rem;
              margin-bottom: 0;
            }
          }
          .box7:before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            border-top: 4rem solid #ca669a;
            border-right: 4rem solid transparent;
            border-left: 0 solid transparent;
            border-top-left-radius: 20px;
          }
          .box7:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            border-bottom: 4rem solid white;
            border-left: 4rem solid transparent;
          }
        }
      }
    }

    .book-calendar {
      display: flex;
      width: 100%;

      .book-calendar-content {
        width: 30%;
      }

      .book-calendar-form {
        width: 70%;
        text-align: center;

        .day-book {
          input{
            font-size: 16px;
            width: 50%;
            height: 5rem;
          }
        }

        .branch {
          select{
            font-size: 16px;
            width: 50%;
            height: 5rem;

            option{
              font-size: 16px;
            }
          }
        }

        .name-tel {
          display: flex;
          width: 100%;

          .name-cus {
            width: 50%;
            height: 5rem;
          }

          .tel-cus {
            width: 50%;
          }
        }
      }
    }
  }
}
