.container-calendar {
  .container-bg-calendar {
    .calendar {
      display: flex;
      width: 100%;
      text-align: left;
      padding: 4rem;
      font-family: "Roboto", sans-serif;

      .calendar-content {
        width: 30%;

        h3 {
          margin: 0 0 13px;
          color: #fd80c1;
          font-size: 26px;
          font-weight: bold;
          line-height: 1.6;
        }

        h3:after {
          content: "";
          display: block;
          width: 5rem;
          height: 0.25rem;
          background: #fd80c1;
        }

        #special {
          color: #fd80c1;
          font-size: 16px;
          line-height: 1.6;
          margin-bottom: 0;
        }

        p {
          margin: 0 0 21px;
          color: #fd80c1;
          font-size: 16px;
          line-height: 1.6;
        }
      }

      .calendar-boxs {
        width: 70%;
      }
    }
  }
}
