.container-calendar{

    .container-bg-calendar{

        .calendar{
            display: flex;
            width: 100%;

            .calendar-content{
                width: 30%;
            }

            .calendar-boxs{
                width: 70%;
            }
        }
    }
}