@import '../../SCSS/base/variables.scss';

.footer {
    background-image: url(../../../public/img/sparkle1.png), url(../../../public/img/sparkle2.png);
    width: 100%;
    height: 400px;
    background-color: $main-color;
    animation: sparkle 60s linear infinite;
    padding: 14rem 3rem 0;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-top: 16rem;

    .logo {
        flex: 1;

        .info {
            display: flex;

            img {
                height: 10rem;
            }

            .nameSpa {
                color: $title-color;
                margin: 1rem;

                h4 {
                    font-size: 1.8rem;
                    font-weight: 500;
                }

                h2 {
                    font-size: 2.4rem;
                }
            }
        }

        h5 {
            margin: 2rem .6rem;
            font-size: 1.8rem;
            font-weight: 400;
            color: #ddd;
        }
    }

    .contact {
        flex: 1;
        text-align: center;

        h3 {
            margin-bottom: 1.8rem;
            color: $title-color;
        }

        .icon {
            margin: auto 0;
            margin-left: 10px;

        }

        .iconFacebook {
            width: 3.6rem;
            height: 3.6rem;
            color: rgba($color: #0570e6, $alpha: 1.0);
            background-color: $title-color;
            border-radius: 50%;
        }

        .iconZalo {
            width: 3.7rem;
            height: 3.7rem;
            border-radius: 50%;
        }
    }

    .address {
        color: #ddd;
        flex: 1;
        text-align: center;

        h3 {
            // margin-bottom: 2rem;
            color: $title-color;
        }

        h4 {
            margin-bottom: 2rem;
        }

        .hotline {
            padding: .6rem;
            font-size: 1.8rem;
            margin: .8rem 1rem 2rem;
            border: 1px solid $title-color;
            border-radius: 2rem;

            &:hover {
                color: $title-color;
                cursor: pointer;
            }
        }
    }

    @keyframes sparkle {
        0% {
            background-position: 0px 0px, 0px 0px, 0px 0px;
        }

        100% {
            background-position: -500px -1000px, -400px -400px, 300px 300px;
        }
    }

    .subFooter {
        width: 100%;
        max-width: 90rem;
        min-height: 20rem;
        box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.3);

        background-color: #fff;
        border-radius: 1rem;
        z-index: 50;
        top: -10rem;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        display: flex;
        padding: 3rem;
        justify-content: space-around;

        .report,
        .feedback {
            display: flex;
            flex: 1;
            justify-content: center;
            text-align: left;

            h3 {
                text-transform: uppercase;
                font-size: 2.4rem;
                color: $main-color;
            }

            p {
                font-size: 1.6rem;
                padding: 1rem 1.4rem 1rem 0;
            }

            .icon {
                height: 10rem;
                width: 10rem;
                margin-right: 2rem;
            }

            .btn {
                padding: 0.8rem 1.2rem;
                background-color: $main-color;
                border-radius: 2rem;
                font-size: 1.6rem;
                color: #fff;

                &:hover {
                    background-color: #cc1574;
                }
            }
        }

        .report {
            border-right: 1px solid #ddd;
        }

        .feedback {
            margin-left: 1rem;
        }
    }
}